body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(216, 252, 240);
}
h1{
  text-align: center;
}
img {
  width: 300px;
  margin: 20px auto;
  border: 10px dotted black;
  padding: 2px;
}
.dog{
  filter: blur(0.2em);
}

