body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img {
  width: 300px;
  margin: 20px auto;
}
article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}
