body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: skyblue;
    border: 15px dotted white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: white 1px 1px 10px;
    margin: 60px;
    padding: 15px;

}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed white;
    border-radius: 6px;
    padding: 5px;
}