body {
  background-color: #f5e9e2;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  text-align: center;
  border: 7px double #f5e9e2;
  background-color: #9a275a;
  color: #f5e9e2;
  margin: 0 auto;
  padding: 12px;
  width: 80vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header,
footer {
  text-align: center;
  margin: 20px 5vw 20px 5vw;
  padding: 10px;
  color: #3f0d12;
}
nav {
  background-color: #9a275a;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 7px double #f5e9e2;
}
nav a {
  color: #f5e9e2;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 30px;
  margin-left: 40px;
  margin-right: 40px;
  display: block;
}
nav a:hover {
  background-color: #f5e9e2;
  color: black;
}
main {
  text-align: center;
}
img {
  width: 80vw;
}
#personas section {
  background-color: #9a275a;
  margin: 20px auto;
  padding: 15px;
  border: 5px double #f5e9e2;
}
section p,
footer p {
  max-width: 60vw;
  margin: 0 auto;
  border: none;
}
ul {
  max-width: 400px;
  margin: 0 auto;
}
ul h4{
  color:#f5e9e2;
}
li {
  color: #f5e9e2;
  text-align: left;
}
#colors {
  margin: 0 auto;
}
.primary {
  background-color: #de8534;
}
.secondary {
  background-color: #e7b58f;
}
.accent1 {
  background-color: #fffff4;
}
.accent2 {
  background-color: #a31621;
}
#heading-font{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#paragraph-font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (min-width: 800px) {
  img {
    width: 70vw;
  }
}
@media only screen and (min-width: 1100px) {
  nav a {
    border-style: solid;
    border-color: #f5e9e2;
    display: inline;
    padding: 8px 30px;
  }
  img {
    width: 20vw;
  }
  .persona {
    width: 35vw;
    margin: 0 auto;
  }
  #personas {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  section p {
    width: 30vw;
  }
}
