
  @media only screen and (min-width: 1300px) {
    h1{
      font-size: 3em;
    }
    h2{
      font-size: 2em;
    }
    p{
      font-size: 20px;
    }
    #header-box{
      display: grid;
      grid-template: "p p p p" auto
                     "a c . ." auto
                     "a c b d" auto
                     "a c . ." auto
                     "e e e e" auto/ 1fr 3fr 3fr 1fr;
    }
    .logo{
      height: 8vw;
      width: 8vw;
      grid-area: a;
    }
    #time{
      font-size: 25px;
      padding: 10px;
      grid-area: e;
    }
    #headers{
      grid-area: c;
      white-space: nowrap;
    }
    #right-stuff{
      grid-area: d;
    }
    .socials img{
      height: 4vw;
      width: 4vw;
    }
    #hamButton{
      display: none;
    }
    #nav-menu{
      display: inline;
      grid-area: b;
      padding:5px;
      background-color: #ffd26f;
      border: none;
    }
    #nav-menu ul{
      position: absolute;
      top: 50px;
      padding-left: 0;
      display: inline;
      white-space: nowrap;

    }
    #nav-menu .menu-items{
      text-align: left;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: #a31621;
      font-size: 2.4vw;
      padding:5px;
    }
    .menu-items:hover{
      border: 5px double #a31621;
    }
    main {
      margin: 20px;
      margin-bottom: 40px;
      display: grid;
      grid-gap: 40px;
      grid-template:
        "a b c" 300px
        "d b c" 300px
        "f g c" 300px / 1fr 2fr 1fr;
    }
    main section{
      width: 100%;
      height: 100%;
    }
    #hero {
      grid-area: b;
    }
    #hero button{
      height: 10%;
    }
    #news {
      grid-area: g;
    }
    #spotlights {
      grid-area: c;
      display: flex;
      flex-direction: column;
    }
    #spotlights section:nth-child(3){
      display: block;
    }
    #spotlights section {
      margin: auto auto;
      height: auto;
      width: 80%;
    }
    #spotlights section h5{
      margin: 0px;
      padding: 10px;
    }
    #spotlights section p{
      margin: 0px;
      padding-top: 5px;
    }
    #join {
      grid-area: f;
    }
    #join button{
      margin-top: 80px;
    }
    #event {
      grid-area: a;
      margin: 0 auto;
      width: 100%;
    }
    #weather {
      padding: 10px;
      grid-area: d;
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template: "a a" auto
                     "b c" auto
                     "b d" auto
                     "b e" auto / 50% 60%;
    }
    #weather img{
      width: 100%;
      height: auto;
      margin: auto 0;
      grid-row: b;
    }
    #weather h4{
      grid-row: a;
      column-span: all;
      width: 200%;
      margin: 0;
    }
    #weather p{
      margin: 2px;
      height: auto;
      color: orange;
    }
    #weather p:nth-child(3){
      grid-row:c;
    }
    #weather p:nth-child(4){
      grid-row:d;
    }
    #weather p:nth-child(5){
      grid-row:e;
    }
    #news h4{
      margin: 15px;
    }
    /* *********************************footer***************************************/
    footer p{
      padding-top: 10px;
      font-size: 20px;
    }
    footer section p{
      font-size: 20px;
      padding-bottom: 5px;
    }
    .location{
      font-size: 22px;
    }
  }
