@media only screen and (min-width: 650px) {
  .socials img {
    height: 5vw;
    width: 5vw;
  }
  main {
    margin: 20px;
    display: grid;
    grid-row-gap: 40px;
    grid-template:
      ". a a ." 200px
      ". b b ." auto
      ". c c ." auto
      ". d d ." auto
      ". f g ." auto/ 5% 1.5fr 1fr 5%;
  }
  main section {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  #hero {
    grid-area: a;
  }
  #hero button{
    height: 30%;
    width: 20%;
  }
  #news {
    grid-area: b;
  }
  #spotlights {
    grid-area: c;
    display: flex;
  }
  #spotlights section {
    height: auto;
    width: 45%;
    margin: 20px auto;
  }
  #join {
    grid-area: d;
  }
  #event {
    grid-area: f;
    width: auto;
    margin-right: 10%;
  }
  #weather {
    grid-area: g;
  }
  footer {
    border-top: 1px solid #a31621;
    display: grid;
    grid-template:
      "a b c" auto
      "a b d" auto
      "e e e" auto/ 1fr 2fr 2fr;
  }
  footer .logo {
    grid-area: a;
    margin: auto auto;
    width:  16vw;
    height: 16vw;
  }
  #address {
    grid-area: b;
    margin: auto 0;
  }
  #email {
    margin-top: auto;
    grid-area: c;
  }
  iframe {
    margin: 10px auto;
    grid-area: d;
    width: 200px;
    height: 100px;
  }
  footer section {
    grid-area: e;
    display: flex;
    justify-content: center;
  }
  footer section p {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
  }
  footer section p:nth-child(2),
  footer section p:nth-child(3),
  footer section p:nth-child(4) {
    border-left: 1px solid #a31621;
  }
}
