@media only screen and (min-width: 650px) {
  .socials img {
    height: 5vw;
    width: 5vw;
  }
  main {
    margin: 20px;
    display: grid;
    grid-row-gap: 40px;
    grid-template:
      "a a" 200px
      "b b" 200px
      "c c" 200px
      "d d" 200px
      "f g" 200px/ 1.5fr 1fr;
  }
  main section {
    height: 90%;
    width: 90%;
    margin: 0 auto;
  }
  #hero {
    grid-area: a;
  }
  #news {
    grid-area: b;
  }
  #spotlights {
    grid-area: c;
    display: flex;
  }
  #spotlights section {
    height: 80%;
    width: 45%;
  }
  #join {
    grid-area: d;
  }
  #event {
    grid-area: f;
    width: 80%;
    margin-left: 6%;
  }
  #weather {
    grid-area: g;
    width: 83.5%;
    margin-left: 0%;
  }
  footer {
    border-top: 1px solid #a31621;
    display: grid;
    grid-template:
      "a b c" auto
      "a b d" auto
      "e e e" auto/ 1fr 2fr 4fr;
  }
  footer .logo {
    grid-area: a;
    margin-left: 30px;
  }
  #address {
    grid-area: b;
    margin: auto 0;
  }
  #email {
    margin-top: auto;
    grid-area: c;
  }
  iframe {
    margin: 0 auto;
    grid-area: d;
    width: 300px;
    height: 100px;
  }
  footer section {
    grid-area: e;
    display: flex;
    justify-content: center;
  }
  footer section p {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
  }
  footer section p:nth-child(2),
  footer section p:nth-child(3),
  footer section p:nth-child(4) {
    border-left: 1px solid #a31621;
  }
}
