@media only screen and (min-width: 650px) {
  .socials img {
    height: 5vw;
    width: 5vw;
  }
  main {
    margin: 20px;
    display: grid;
    grid-row-gap: 40px;
    grid-template:
      ". a a ." 200px
      ". b b ." auto
      ". c c ." auto
      ". d d ." auto
      ". f g ." auto/ 5% 1.5fr 1fr 5%;
  }
  main section {
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
  #hero {
    grid-area: a;
  }
  #hero button {
    height: 30%;
    width: 20%;
  }
  #news {
    grid-area: b;
  }
  #spotlights {
    grid-area: c;
    display: flex;
  }
  #spotlights section {
    height: auto;
    width: 45%;
    margin: 20px auto;
  }
  #join {
    grid-area: d;
  }
  #event {
    grid-area: f;
    width: auto;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #event h4, #event h5{
    margin:5px;
  }
  #weather {
    grid-area: g;
  }
  footer {
    padding: 15px;
    border-top: 1px solid #a31621;
    display: grid;
    grid-template:
      ". a b c ." 10vw
      ". a b d ." 9vw
      "e e e e e" auto / 2fr 1fr 2fr 2fr 2fr;
  }

  footer .logo {
    grid-area: a;
    margin: auto auto;
    width: 16vw;
    height: 16vw;
  }
  #address {
    grid-area: b;
    margin: auto;
    width: 200px;
  }
  #email {
    margin-top: auto;
    grid-area: c;
  }
  .location {
    margin: 10px auto;
    grid-area: d;
    width: 200px;
  }
  footer section {
    grid-area: e;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
  }
  footer section p {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 12px;
    padding-bottom: 5px;
  }
  footer section p:nth-child(2),
  footer section p:nth-child(3),
  footer section p:nth-child(4) {
    border-left: 1px solid #a31621;
  }

/* ************************************************discover************************************************** */
.discover{
  display: grid;
  grid-template: "a b" auto
                 "a c" auto/ 1fr 1fr;
}
.discover figure{
  grid-area: a;
  margin: auto auto;
  width: 80%;
}
.discover figure img{
  width: 80%;
}
.discover figure img:hover{
  opacity: .5;
}
.discover h4{
  grid-area: b;
  margin-top: auto;
}
.discover p{
  grid-area: c;
}
}