body{
  background-color: #F8F8F9;
}
h1,h2,h3,h4{
  font-family: Arial, Helvetica, sans-serif;
  color: #301a4b;
}
h1{
  font-family: 'Great Vibes', cursive;
  font-size: 8vw;
  margin: 20px 0px 0px 0px;
}
h2{
  margin-top: 0px;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
}
h3,h4{
  text-align: center;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5vw;
  color: #301a4b;
}
.indent{
  text-indent: 30px;
}
a:hover, button:hover, .page-button:hover{
  filter: drop-shadow(0 0 3px gray);
}
.page-button{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2075BC;;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: block;
  margin: 0px auto;
  height: 35px;
  font-size: 15px;
}
/* Header */
header{
  display: grid;
  grid-template-columns: 25% 75%;
}
.logo{
  border: 3px outset #30d99d;
  height: 50px;
  border-radius: 100%;
  margin: 15px 30px;
  margin-left: 5px;
  margin-right: auto;
}
#hamButton{
  margin: 15px 30px;
  margin-right: 5px;
  margin-left: auto;
  font-size: 1.5rem;
  padding: 7px 8px;
  color: #2075BC;;
  border: 3px outset #2075BC;;
  background-color: #F8F8F9;
  width: 50px;
}
nav{
  display: none;
}
nav.responsive{
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  width: 100vw;
}
nav.responsive a{
  background-color: #F8F8F9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color:#2075BC;;
  padding:10px;
  text-decoration: none;
}
nav.responsive a:hover{
  background-color: #dbdbdb;
}
/* Main */
main{
    background-image: linear-gradient(#ffffff, #9adec7);

}
.hero img, #fresh img, #smoothies img{
  width: 100%;
}
.hero{
  position: relative;
}
#headings, #about-main div h1,#fresh-main h1{
  position: absolute;
  top: 28%;
  left: 20%;
  z-index: 2;
  margin: 0 auto;
  background-color: #F8F8F9;
  width: 60%;
  text-align: center;
  border: 4px solid #30D99D;
}
#area{
  margin-top: 100px;
}
h3{
  font-size: 4vw;
  margin:30px;
}
#area img{
  width: 80vw;
  display: block;
  margin: 0 auto;
}
#area p{
  margin: 40px 60px 0px 90px;
  
}
#middle{
  margin-top: 70px;
  padding: 1px 30px;
}
#middle section{
  border: 1px solid #2075BC;
  background-color: #F8F8F9;
  padding: 1px 40px 10px 40px;
  margin: 40px 0px;
  height: auto;
}
#weather div{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 8px;
}
#days p{
border: 1px solid #C73880;
padding: 3px 20px;
}
#today{
  display: flex;
  flex-direction: column;
}
#weather p{
  text-align: center;
  margin: 2px;
}
#weather figure{
  margin: 0px;
}
#weather img{
  border: 1px solid #C73880;
  height: 80px;
}
#weather p{
  text-align: center;
  width: auto;
}
#fresh-call p{
text-align: center;
}
#fresh-call img{
  display: none;
}
/* Footer */
footer{
  border-top: 2px solid #C73880;
}
#socials{
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#socials a{
 margin: 0 8px
}
footer section p{
  text-align: center;
}
footer img{
  height: 40px;
  border-radius: 100%;
}
#update-p{
  margin: 5px 0px;
  text-align: center;
  background-color: #2075BC;
  padding: 5px 0px;
  color: white;
  font-size: 1em;
}
/* Fresh Page */
#fresh-main{
    background-image: linear-gradient(#ffffff, rgb(250, 237, 255));
}
#fresh-main h1{
  width: 80%;
  left: 8%;
  top:25%;
}
form{
  padding-bottom: 10px;
}
fieldset, label{
  display: flex;
  flex-direction: column;
}
fieldset{
  margin: 20px 10px;
}
legend{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #C73880;
  padding: 5px;
  font-weight: bold;
}
#fresh-main h1, #about-main h1{
  text-align: center;
  padding:30px 10px 13px 10px;
  margin: 15px;
}
input, label, textarea{
  font-size: 1.3rem;
}
label{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 5px;
}
#fruits p{
  color: #2075BC;;
  font-size: 1.3rem;
  font-weight: 500;
}
#instructions{
  font-family: Arial, Helvetica, sans-serif;
  height: 100px;
  resize: none;
}
#sb-button{
margin-bottom: 10px;
background-color: #C73880;
height: 50px;
width: 200px;
font-size: 25px;
}
.green{
  color:#18815C;
}
.blue{
  color:#2075BC;
}
.pink{
  color:#C73880;
}

.green input, .green select, .green textarea{
  border:2px solid #30D99D;
}
.blue input, .blue select{
  border:2px solid #2075BC;
}
.pink input, .pink select{
  border:2px solid #C73880;
}
.empty{
  display: none;
}
#cards{
  padding: 10px;
}
#cards section{
  width:85%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #C73880;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#cards section img{
  width: 150px;
  margin: 10px auto;
}
#cards section p{
text-align: center;
margin-bottom: 0px;
font-size: 1em;
}
#cards section .big, #cards h4{
color: #18815C;
font-size: 1.2em;
margin: 10px;
}
/* About Us */
#map{
  width: 80%;
  margin: 0px auto;
  padding: 30px 0px;
  display: block;
}
#about-main{
  background-image: linear-gradient(#ffffff, rgb(154, 198, 255));
}
#about-main h1{
  color:#2075BC;
}
#center{
  position: relative;
  padding: 30px 0px;
}
#about-main #cliff img{
  width: 95%;
  margin: 40px auto;
  display: block;
  z-index: -1;
}
#about-main #cliff img{
  z-index: -1;
}
#about-main section{
  z-index: 2;
  position: absolute;
  left: 12%;
  background-color: #ffffff;
  padding: 0px 5%;
  border:4px dotted #18815C;
  border-radius: 5px;
  width: 65%;
}
#center section h3{
  font-size: 4vw;
  margin: 2vw;
}
iframe{
  height: 50vw;
}
#center section:nth-child(1){
top:8%
}
#center section:nth-child(2){
top:28%
}
#center section:nth-child(3){
top:43%
}
#center section:nth-child(4){
top:65%
}
