@media only screen and (min-width: 900px) {
    .logo{
        margin-left: 30px;
    }
    #nav-menu a{
        font-size: 25px;
    }
    .hero img{
        border-top: 2px solid #30D99D;
        border-bottom: 2px solid #30D99D;
    }
    #area{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #area img{
        width:80%;
    }
    #area p{
        margin: auto auto auto 45px;
        max-width: 475px;
    }
    h3{
    font-size: 2.2em;
    grid-column: 1/3;
    }
    #middle{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #middle section{
        margin:3vw;
    }
    #fresh-call img{
        max-width: 150px;
        width: 85%;
        height: auto;
    }
    footer{
        display:grid;
        grid-template-columns: 50% 50%;
    }
    footer h4{
        font-size: 1.5em;
        margin-bottom: 15px;
    }
    footer section p{
        text-align: left;
        margin-left:130px;
    }
    footer img{
        height: 55px;
    }
    #update-p{
        grid-column: 1/3;
        margin: 5px 0px;
        text-align: center;
        background-color: #2075BC;
        padding: 5px 0px;
        color: white;
        font-size: 1em;
    }
    /* fresh */
    form{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #sb-button, #special{
        grid-column: 1/3;
    }
    #special{
        width: 90%;
        max-width: 1200px;
        margin: 20px auto;
    }
    /* About Us */
    #center{
        width: 100%;
        max-width: 1200px;
        position: static;
        display: grid;
        grid-template:"a b" auto
                      "a c" auto
                      "a d" auto
                      "a e" auto / 50% 50%;
    }
    #about-main section{
        position: static;
        grid-column: 2;
        width: 70%;
        height: min-content;
        margin: auto;
        border: none;
        padding: 15px 30px;
    }
    #about-main #cliff img{
        width: 90%;
        max-width: 450px;
        border-radius: 5px;
        border:3px solid #30D99D;
      }
    #center section h3{
        font-size: 2.1vw;
        margin: .8vw;
      }
    #center section p{
        font-size: 1.3em;
        margin: 0px;
    }
    #about-main #cliff{
        grid-area: a;
        height: min-content;
    }
    iframe{
        height: 20vw;
      }

}