body{
    background-color: #F3DE8A;
}
header{
    display: flex;
    background-color: #EB9486;
    border: .4vw dashed aliceblue;
    margin: 4vw;
}
img{

    width: 30%;
    border-radius: 20%;
    border: .4vw dashed aliceblue;
    margin: 40px 0 40px 9vw;
}
h1{
    font-size: 3vw;
    color:#b4dc9d;
    padding: 5px 15px 5px 5px;
    background-color: aliceblue;
    margin: auto 4vw auto 5vw;
    font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular';
    border: 2px dotted #EB9486;
}
h2{
    font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular';
    text-align: center;
    font-size: 28px;
    color: #4d4f67;
    margin: 80px 18vw 25px 18vw;
    border-bottom: 2px solid #303140;
}
#listbox{
    text-align: center;
}
ul{
    background-color: #CAE7B9;
    padding: 20px 50px 20px 50px;
    display: inline-block;
    text-align: left;
    font-size: 17px;
    border: 4px dashed aliceblue;
    font-family: 'Lucida Handwriting', 'Lucida Sans', 'Lucida Sans Regular';
    color:#303140;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
li{
    padding: 10px;
}
li:hover{
    color: aliceblue;
}
footer{
    background-color: aliceblue;
    border: .3vw dotted #EB9486;
    margin: 70px 20vw;
    padding: 10px;
}
p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color:#303140;
}